.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="password"],
.formulario input[type="number"],
.formulario select {
    font-family: var(--font-primary);
    font-size: 1.1875rem;
    font-weight: 400;

    text-transform: uppercase;

    background-color: var(--color-white);
    border: 2px solid var(--color-black);

    padding: 1.9375rem;

    width: 100%;
    height: 4.9375rem;
}

.formulario input[type="text"]::placeholder,
.formulario input[type="email"]::placeholder,
.formulario input[type="password"]::placeholder,
.formulario input[type="number"]::placeholder,
.formulario select::placeholder {
    color: var(--color-black);
}